body {
    background-color: black;
    color: white;
  }
  /* #banner {
    display: flex;
    flex: 1;
  } */
  .banner-heading {
  }
  .banner-img {
    background-color: red;
    height: 100px;
    width: 100px;
  }
  .caro {
    background-color: #fff;
    height: 200px;
  }
  .services-box {
    /* display: flex;
    gap: 10px;
    flex: 1; */
    justify-items: center;
    justify-content: center;
    align-items: center;
  }
  .box {
    background-color: red;
    height: 50vh;
    width: 100vw;
    padding: 10px;
    border-top: 5px solid rgb(18, 122, 115);
    margin-bottom: 10px;
  }
  .project-text {
    text-align: center;
  }
  .project-card {
    /* display: flex; */
    /* gap: 10px; */
    text-align: center;
  }
  .project-card-info {
    height: 300px;
    width: 100vw;
    background-color: red;
    margin-bottom: 10px;
  }


  .work-left{
    height: 500px;
    width: 100vw;
    background-color: hsl(124, 46%, 57%);
  }
  .work-right{
    height: 450px;
    width: 100vw;
    background-color: rgb(200, 194, 194);
    margin-bottom: 10px;
  }
.work-card{

    height: 100px;
    width: 100vw;
    margin: 10px;
    background-color:burlywood;
}

